/bootstrap/compiled.php
vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
/_shared
npm-debug.log
/node_modules
/public/css/uoolu.min.css
/public/js/min
.htaccess
.rdb
Uoolu
*.psd
/public/test
.project
.settings
app/config/database.php